
*{
  list-style: none; 
  text-decoration: none; 
  margin: 0;
  padding: 0;
}
nav{
    background-color: aquamarine;
    height: 75px;
}

.logo{
    font-size: 60px;
    margin-top: 30px;
}
.logo b a{
    color: black;

}
.logo b a{
    color: green !important;
}
nav ul{
    float: right;
    margin-top: 20px;
}
nav ul li{
    display: inline-block;
    margin-right: 30px;
    font-size: 25px;
}
nav ul li a{
    color: blueviolet;
    padding:8px ;
}
nav ul li a:hover{
    padding: 8px;
    border-radius: 5px;
    background-color: gold;
    color: green;
}


